In [ ]:
######################
#  @作者 张博强
#  @学号 32019070233
#####################

In [19]:
import numpy as np

randomNum = np.random.randint(0,101,size=(20,5))

randomNum

array([[ 38,  47,  54,  87,  41],
       [ 55,  50,  98,  85,  12],
       [ 29,  16,  63,  90,   8],
       [ 22,  49,  40,  68,   9],
       [ 15,  92,  24,  67,  76],
       [ 51,  69,  77,   4,  79],
       [  4,   9,  53,  20,  94],
       [ 90,  20,  44,  24,  18],
       [ 32,   8,  82,  16,   7],
       [ 18,  37,  22,  55,  20],
       [ 33,  49,   2,  12,  52],
       [ 26,  52,  81,  98, 100],
       [ 41,  34,  58,  29,  49],
       [ 75,  27,  82,  63,  36],
       [ 88,  49,  44,  60,  72],
       [ 70,  89,  81,  24,  45],
       [100,  51,  98,  87,  60],
       [ 95,   3,  63,  95,  24],
       [ 62,  89,   0,  50,  17],
       [ 71,  36,  63,  60,  85]])

In [23]:
key=['key1','key2','key3','key4','key5']
dict={'dict'+str(i):{'key'+str(k):randomNum[i-1,k-1] for k in range(1,6)}for i in range(1,21)}
dict

{'dict1': {'key1': 38, 'key2': 47, 'key3': 54, 'key4': 87, 'key5': 41},
 'dict2': {'key1': 55, 'key2': 50, 'key3': 98, 'key4': 85, 'key5': 12},
 'dict3': {'key1': 29, 'key2': 16, 'key3': 63, 'key4': 90, 'key5': 8},
 'dict4': {'key1': 22, 'key2': 49, 'key3': 40, 'key4': 68, 'key5': 9},
 'dict5': {'key1': 15, 'key2': 92, 'key3': 24, 'key4': 67, 'key5': 76},
 'dict6': {'key1': 51, 'key2': 69, 'key3': 77, 'key4': 4, 'key5': 79},
 'dict7': {'key1': 4, 'key2': 9, 'key3': 53, 'key4': 20, 'key5': 94},
 'dict8': {'key1': 90, 'key2': 20, 'key3': 44, 'key4': 24, 'key5': 18},
 'dict9': {'key1': 32, 'key2': 8, 'key3': 82, 'key4': 16, 'key5': 7},
 'dict10': {'key1': 18, 'key2': 37, 'key3': 22, 'key4': 55, 'key5': 20},
 'dict11': {'key1': 33, 'key2': 49, 'key3': 2, 'key4': 12, 'key5': 52},
 'dict12': {'key1': 26, 'key2': 52, 'key3': 81, 'key4': 98, 'key5': 100},
 'dict13': {'key1': 41, 'key2': 34, 'key3': 58, 'key4': 29, 'key5': 49},
 'dict14': {'key1': 75, 'key2': 27, 'key3': 82, 'key4': 63, 'key5': 36},
 'dict15': {'key1': 88, 'key2': 49, 'key3': 44, 'key4': 60, 'key5': 72},
 'dict16': {'key1': 70, 'key2': 89, 'key3': 81, 'key4': 24, 'key5': 45},
 'dict17': {'key1': 100, 'key2': 51, 'key3': 98, 'key4': 87, 'key5': 60},
 'dict18': {'key1': 95, 'key2': 3, 'key3': 63, 'key4': 95, 'key5': 24},
 'dict19': {'key1': 62, 'key2': 89, 'key3': 0, 'key4': 50, 'key5': 17},
 'dict20': {'key1': 71, 'key2': 36, 'key3': 63, 'key4': 60, 'key5': 85}}

In [26]:
import pandas as pd

df = pd.DataFrame([dict])

df = df.T

df

                                                        0
dict1   {'key1': 38, 'key2': 47, 'key3': 54, 'key4': 8...
dict2   {'key1': 55, 'key2': 50, 'key3': 98, 'key4': 8...
dict3   {'key1': 29, 'key2': 16, 'key3': 63, 'key4': 9...
dict4   {'key1': 22, 'key2': 49, 'key3': 40, 'key4': 6...
dict5   {'key1': 15, 'key2': 92, 'key3': 24, 'key4': 6...
dict6   {'key1': 51, 'key2': 69, 'key3': 77, 'key4': 4...
dict7   {'key1': 4, 'key2': 9, 'key3': 53, 'key4': 20,...
dict8   {'key1': 90, 'key2': 20, 'key3': 44, 'key4': 2...
dict9   {'key1': 32, 'key2': 8, 'key3': 82, 'key4': 16...
dict10  {'key1': 18, 'key2': 37, 'key3': 22, 'key4': 5...
dict11  {'key1': 33, 'key2': 49, 'key3': 2, 'key4': 12...
dict12  {'key1': 26, 'key2': 52, 'key3': 81, 'key4': 9...
dict13  {'key1': 41, 'key2': 34, 'key3': 58, 'key4': 2...
dict14  {'key1': 75, 'key2': 27, 'key3': 82, 'key4': 6...
dict15  {'key1': 88, 'key2': 49, 'key3': 44, 'key4': 6...
dict16  {'key1': 70, 'key2': 89, 'key3': 81, 'key4': 2...
dict17  {'key1': 100, 'key2': 51, 'key3': 98, 'key4': ...
dict18  {'key1': 95, 'key2': 3, 'key3': 63, 'key4': 95...
dict19  {'key1': 62, 'key2': 89, 'key3': 0, 'key4': 50...
dict20  {'key1': 71, 'key2': 36, 'key3': 63, 'key4': 6...

In [31]:
df.loc['dict1']

0    {'key1': 38, 'key2': 47, 'key3': 54, 'key4': 8...
Name: dict1, dtype: object

In [33]:
df.loc[['dict1','dict4']]

                                                       0
dict1  {'key1': 38, 'key2': 47, 'key3': 54, 'key4': 8...
dict4  {'key1': 22, 'key2': 49, 'key3': 40, 'key4': 6...

In [39]:
df.loc['dict3':'dict7']

                                                       0
dict3  {'key1': 29, 'key2': 16, 'key3': 63, 'key4': 9...
dict4  {'key1': 22, 'key2': 49, 'key3': 40, 'key4': 6...
dict5  {'key1': 15, 'key2': 92, 'key3': 24, 'key4': 6...
dict6  {'key1': 51, 'key2': 69, 'key3': 77, 'key4': 4...
dict7  {'key1': 4, 'key2': 9, 'key3': 53, 'key4': 20,...

In [46]:
df.iloc[0]

0    {'key1': 38, 'key2': 47, 'key3': 54, 'key4': 8...
Name: dict1, dtype: object

In [50]:
df.iloc[[0,3]]

                                                       0
dict1  {'key1': 38, 'key2': 47, 'key3': 54, 'key4': 8...
dict4  {'key1': 22, 'key2': 49, 'key3': 40, 'key4': 6...

In [52]:
df.iloc[0:3]

                                                       0
dict1  {'key1': 38, 'key2': 47, 'key3': 54, 'key4': 8...
dict2  {'key1': 55, 'key2': 50, 'key3': 98, 'key4': 8...
dict3  {'key1': 29, 'key2': 16, 'key3': 63, 'key4': 9...

In [56]:
df.to_excel("E:\python_data_work_2.xlsx",index_label = "DateFrame导出结果")